@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

@utility gradient-overlay {
    /* Применяем существующую утилиту  */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
}
